<% title "Welcome on SnowPlow Dashboard", "The missing front-end for SnowPlow." %>

<%= toolbar :welcome, :last_event_date %>
<%= table_chart chart_data_path(:welcome, :last_event_date) %>


<h3>Events by Day</h3>

<%= toolbar :welcome, :events_count_per_day %>
<%= column_chart chart_data_path(:welcome, :events_count_per_day) %>
