<ul class="nav bs-sidenav">
	<li><a href="/dashboard/welcome">Welcome</a></li>              
	<li><a href="/dashboard/recipes_basic">Recipes Basic</a></li>
    <li class="split"><a href="/jobs">Jobs admin</a></li>
</ul>
