<% title "Welcome on SnowPlow Dashboard", "The missing front-end for SnowPlow." %>


<%= table_chart :welcome, :last_event_date %>

<h3>Events by Day</h3>
<%= column_chart :welcome, :events_count_per_day %>

